---
import { SocialMedia } from './SocialMedia'
import { Logo } from '@components/icons'
import { List, ListItem } from '@components/base';
import Link from '@components/base/Link.astro';

type TLink = {
  title: string
  href: string
  blank?: boolean
}

const links: TLink[] = [
  {
    href: '/',
    title: 'Accueil'
  }
]
---

<style lang="scss">
  header {
    display: flex;
  }
</style>

<header>
  <Logo />
  <nav>
    <List>
      {links.map(({ href, title, blank }) => (
        <ListItem>
          <Link href={href} blank={blank}>
            {title}
          </Link>
        </ListItem>
      ))}
    </List>
  </nav>
  <SocialMedia />
</header>
