---
import Layout from "@layouts/Layout.astro";
import { formatTitle } from "@utils/functions";

---

<Layout title={formatTitle("Matchs")}>
  <section>
    tournoi
  </section>
  <section>
    showmatch
  </section>
</Layout>