---
export interface Props {
  href: string
  blank?: boolean
}
const { href, blank } = Astro.props
---

<style lang="scss">
  a {
    text-decoration: none;
    color: black
  }
</style>

<a href={href} target={blank ? '_blank' : ''}><slot /></a>